.sign-in {
    padding-top: 39px; 
    padding-left: 20px;;
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: Arial, Helvetica, sans-serif;
    .signbut{
        display: flex;
        
       
        justify-content: space-between;
        .google{
            align-items: flex-end;
            width: 220px;
            height: 30px;
            background-color: rgb(60, 60, 218);
            color: rgb(197, 197, 212);
            border: 2px solid rgb(110, 109, 109);
            transition-duration: 0.4s;
            
            
          }
          .google:hover {
            background-color: white; /* Green */
            color:#3242f4;
          }
        
    }
  }