.box-content {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(54, 50, 50));
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  justify-content: center;
  align-items: center;
  
}
